.hero {
  color: #233034;
  font-size: 32px;
  line-height: 1.36;
  text-align: left;
  display: flex;
  max-width: 1152px;
  margin: 20px auto;
  justify-content: space-between;
  height: 600px;
}
.text-container {
  padding: 16px;
  display: flex;
  align-items: center;
  max-width: 600px;
}
.text {
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 300;
}
.map {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  /* top: 10px; */
  left: 40%;
  overflow-y: hidden;
  /* height: 600px; */
}
.map img {
  max-width: 90%;
  filter: drop-shadow(0 2px 2px gray);
}

@media (max-width: 800px) {
    .map {
        left: 0;
    }
    .map img {
      filter: opacity(10%) blur(1px);
    }
}
@media (min-width: 1400px) {
    .map {
        left: 50%;
    }
    .map img {
        max-width: 70%;
    }
}

.baq-button {
  background: #ffd121;
  height: 53px;
  padding: 0 25px;
  line-height: 36px;
  display: inline-block;
  text-decoration: none;
  color: #233034;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  max-width: 120px;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  letter-spacing: 1px;
}

.baq-button:hover {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in;
}
