header {
  display: grid;
}

header nav {
  display: grid;
  grid-template-columns: minmax(auto, .9fr) repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #F2D903;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .3);
}

header nav img {
  width: 40px;
  height: 40px;
}

header nav div:first-of-type {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: start;
  grid-gap: 0 10px;
}

header nav div i {
  font-size: 22px;
  color: rgba(0, 0, 0, .6);
  transition: 0.3s ease;
}

header nav div i:hover {
  color: rgb(0, 0, 0);
}

/* @media (max-width: 370px) {
  header nav {
    gritemc
  }
} */